# packages in environment at C:\Users\zmfls\Anaconda3\envs\untitled:
#
# Name                    Version                   Build  Channel
_pytorch_select           1.1.0                       cpu  
_tflow_select             2.1.0                       gpu  
absl-py                   0.7.1                    py37_0  
astor                     0.8.0                    py37_0  
blas                      1.0                         mkl  
boto3                     1.9.212                  pypi_0    pypi
botocore                  1.12.212                 pypi_0    pypi
ca-certificates           2019.5.15                     1  
certifi                   2019.6.16                py37_1  
cffi                      1.12.3           py37h7a1dbc1_0  
click                     7.0                      py37_0  
cudatoolkit               10.0.130                      0  
cudnn                     7.6.0                cuda10.0_0    anaconda
cycler                    0.10.0                   pypi_0    pypi
dash                      1.2.0                    pypi_0    pypi
dash-core-components      1.1.2                    pypi_0    pypi
dash-html-components      1.0.1                    pypi_0    pypi
dash-renderer             1.0.1                    pypi_0    pypi
dash-table                4.2.0                    pypi_0    pypi
decorator                 4.4.0                    pypi_0    pypi
docutils                  0.15.2                   pypi_0    pypi
flask                     1.1.1                      py_0  
flask-admin               1.5.3                    pypi_0    pypi
flask-compress            1.4.0                    pypi_0    pypi
flask-dropzone            1.5.4                    pypi_0    pypi
flask-sqlalchemy          2.4.0                    pypi_0    pypi
freetype                  2.9.1                ha9979f8_1  
future                    0.17.1                   pypi_0    pypi
gast                      0.2.2                    py37_0  
gevent                    1.4.0            py37he774522_0  
google-pasta              0.1.7                    pypi_0    pypi
greenlet                  0.4.15           py37hfa6e2cd_0  
grpcio                    1.16.1           py37h351948d_1  
h5py                      2.9.0            py37h5e291fa_0  
hdf5                      1.10.4               h7ebc959_0  
icc_rt                    2019.0.0             h0cc432a_1  
imageio                   2.5.0                    pypi_0    pypi
intel-openmp              2019.4                      245  
itsdangerous              1.1.0                    py37_0  
jinja2                    2.10.1                   py37_0  
jmespath                  0.9.4                    pypi_0    pypi
joblib                    0.13.2                   pypi_0    pypi
jpeg                      9b                   hb83a4c4_2  
keras-applications        1.0.8                      py_0  
keras-base                2.2.4                    py37_0  
keras-gpu                 2.2.4                         0  
keras-preprocessing       1.1.0                      py_1  
kiwisolver                1.1.0                    pypi_0    pypi
libpng                    1.6.37               h2a8f88b_0  
libprotobuf               3.8.0                h7bd577a_0  
libtiff                   4.0.10               hb898794_2  
lime                      0.1.1.36                 pypi_0    pypi
markdown                  3.1.1                    py37_0  
markupsafe                1.1.1            py37he774522_0  
matplotlib                3.1.1                    pypi_0    pypi
mkl                       2019.4                      245  
mkl-service               2.0.2            py37he774522_0  
mkl_fft                   1.0.14           py37h14836fe_0  
mkl_random                1.0.2            py37h343c172_0  
networkx                  2.3                      pypi_0    pypi
ninja                     1.9.0            py37h74a9793_0  
numpy                     1.16.4           py37h19fb1c0_0  
numpy-base                1.16.4           py37hc3f5095_0  
olefile                   0.46                     py37_0  
opencv-python             4.1.0.25                 pypi_0    pypi
openssl                   1.1.1c               he774522_1  
pandas                    0.25.1                   pypi_0    pypi
pillow                    6.1.0            py37hdc69c19_0  
pip                       19.2.2                   py37_0  
plotly                    4.1.0                    pypi_0    pypi
protobuf                  3.8.0            py37h33f27b4_0  
pycparser                 2.19                     py37_0  
pyparsing                 2.4.2                    pypi_0    pypi
pyreadline                2.1                      py37_1  
python                    3.7.4                h5263a28_0  
python-dateutil           2.8.0                    pypi_0    pypi
pytorch                   1.0.1           cpu_py37h39a92a0_0  
pytz                      2019.2                   pypi_0    pypi
pywavelets                1.0.3                    pypi_0    pypi
pyyaml                    5.1.2            py37he774522_0  
retrying                  1.3.3                    pypi_0    pypi
s3transfer                0.2.1                    pypi_0    pypi
scikit-image              0.15.0                   pypi_0    pypi
scikit-learn              0.21.3                   pypi_0    pypi
scipy                     1.3.1            py37h29ff71c_0  
setuptools                41.2.0                   pypi_0    pypi
six                       1.12.0                   py37_0  
sqlalchemy                1.3.7                    pypi_0    pypi
sqlite                    3.29.0               he774522_0  
tb-nightly                1.14.0a20190603          pypi_0    pypi
tensorboard               1.14.0           py37he3c9ec2_0  
tensorflow                1.14.0          gpu_py37h5512b17_0  
tensorflow-base           1.14.0          gpu_py37h55fc52a_0  
tensorflow-estimator      1.14.0                     py_0  
tensorflow-gpu            2.0.0b0                  pypi_0    pypi
termcolor                 1.1.0                    py37_1  
tf-estimator-nightly      1.14.0.dev2019060501          pypi_0    pypi
tf-explain                0.0.2a0                  pypi_0    pypi
tk                        8.6.8                hfa6e2cd_0  
torchvision               0.2.2                      py_3    pytorch
urllib3                   1.25.3                   pypi_0    pypi
vc                        14.1                 h0510ff6_4  
vs2015_runtime            14.15.26706          h3a45250_4  
werkzeug                  0.15.5                     py_0  
wheel                     0.33.4                   py37_0  
wincertstore              0.2                      py37_0  
wrapt                     1.11.2           py37he774522_0  
wtforms                   2.2.1                    pypi_0    pypi
xz                        5.2.4                h2fa13f4_4  
yaml                      0.1.7                hc54c509_2  
zlib                      1.2.11               h62dcd97_3  
zstd                      1.3.7                h508b16e_0  
