{% extends "layout.html" %}


<!--약재정보-->
{% block herb %}
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="text-s font-weight-bold text-uppercase mb-2" style="margin-top:-12px;font-size:20px; color:#a6a19d">
                {{ herb.herb_name  }}
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="text-s font-weight-bold text-uppercase mb-2"  style="margin-top:-10px; margin-left: -35px; color:#a6a19d">
                {% if herb.is_poison == 1 %}
                    독성약재
                {% else %}
                    일반약재
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6 col-md-4"></div>
    </div>

    <!--약재정보-->
    {# 허브 #}
    <div class="scrollbar scrollbar-primary" style="width: 100%; height:170px; overflow-y:auto; overflow-x: hidden;  margin-bottom: 10px;">
        <table class="table table-striped">
            <colgroup>
                <col style= "width: 20%" />
                <col width="90" />
            </colgroup>
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>분류</td>
                <td>{{ category.category_name }}</td>
            </tr>

            <tr>
                <td>기원</td>
                <td>{{ herb.origin }}</td>
            </tr>

            <tr>
                <td>주치</td>
                <td style="font-size: 14px;">{{ herb.major_effect }}</td>
            </tr>

            <tr>
                <td>효능</td>
                {#                <td style="font-size: 14px;">{{ herb.effect | truncate(100) }}</td>#}
                <td style="font-size: 14px;">{{ herb.effect }}</td>
            </tr>

            <tr>
                <td style="font-size:14px;">외관상 특징</td>
                {#                <td style="font-size: 14px;">{{ herb.figure_feature | truncate(100) }}</td>#}
                <td style="font-size: 14px;">{{ herb.figure_feature }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


<!--독성 확률 그래프-->
{% block predict_graph %}
    <div class="col-auto" style="margin:auto;">
        <div class="chart-pie pt-4 pb-2" style="margin-top: -40px;">
            <canvas id="myPieChart" style="width:150px; margin:0px"></canvas>
            <div class="donut-inner">
                <!--독성 확률 퍼센트 -->
                <h5 style="font-size: 20px;">{{ pred }} %</h5>
            </div>
        </div>
    </div>
{% endblock %}

<!--유사 약재 이미지-->
{% block similar_images %}
    <table class="table table-borderless" style="margin-top:-7px;">
        <thead>
        <tr>
            {% for name, img_path in groups %}
                {% if name != herb.herb_name %}
                    <th scope="col"><img src="{{ url_for('static', filename=img_path) }}" style="width:120px; height:100px"></th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for name, _ in groups %}
                {% if name != herb.herb_name %}
                    <td scope="col">{{ name }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
    </table>


{#{% endfor %}#}
{% endblock %}


<!--독성약재 map-->
{% block map %}
<div style="margin-top:-25px; heigth:22rem">
    {% include "location.html" %}
    <div id="chartdiv"></div>
</div>
{#{% endif %}#}
{% endblock %}


<!--feature map-->
{% block featuremap %}
    {#    <script>#}
    {#        $.ajax({#}
    {#            type: "GET"#}
    {#            , url: "/grad_cam/"#}
    {##}
    {#            , success: function(res) {#}
    {#                var result = "<img src='" + res + "' width='100' height='100' />";#}
    {#                $("#grad_cam").html(result);#}
    {#            }#}
    {##}
    {#            , beforeSend: function() {#}
    {#                //$('.wrap-loading').removeClass('display-none');#}
    {#            }#}
    {##}
    {#            , complete: function() {#}
    {#                //(이미지 감추기 처리)#}
    {#                //$('.wrap-loading').addClass('display-none');#}
    {#            }#}
    {##}
    {#            , error: function(e) {#}
    {#                console.log(e);#}
    {#            }#}
    {#            //, timeout:100000 // "응답제한시간 ms"#}
    {#        });#}
    {##}
    {#        $.ajax({#}
    {#            type: "GET"#}
    {#            , url: "/lime/"#}
    {##}
    {#            , success: function(res) {#}
    {#                var result = "<img src='" + res + "' width='100' height='100' />";#}
    {#                $("#lime").html(result);#}
    {#            }#}
    {##}
    {#            , beforeSend: function() {#}
    {#                //$('.wrap-loading').removeClass('display-none');#}
    {#            }#}
    {##}
    {#            , complete: function() {#}
    {#                //(이미지 감추기 처리)#}
    {#                //$('.wrap-loading').addClass('display-none');#}
    {#            }#}
    {##}
    {#            , error: function(e) {#}
    {#                console.log(e);#}
    {#            }#}
    {#            //, timeout:100000 // "응답제한시간 ms"#}
    {#        });#}
    {#    </script>#}
    {#    <div id="smooth_grad">#}
    {#        <p>이미지를 로드하는 중입니다 ...</p>#}
    {#    </div>#}
    {#    <div id="lime">#}
    {#        <p>이미지를 로드하는 중입니다 ...</p>#}
    {#    </div>#}
    <img src="{{ features }}" width="210", height="auto", margin="auto" />
    <img src="{{ grad }}" width="210" height="auto", margin="auto" />
{% endblock %}


<!--뉴스 크로울링-->
{% block news %}
    {% for news in news_list %}
        <ul>
            <a href="{{ news.url }}">
                <li>{{ news.title | truncate(30) }}</li>
            </a>
            <li>{{ news.date }}</li>
        </ul>
    {% endfor %}
{% endblock %}